body {
  margin: 0;
  font-family: 'Karla', 'Arial';
  background-color: #2a2a2a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  background: linear-gradient(#e66465, #9198e5);
  margin: 30px;
  border-radius: 5px;
  padding: 15px;
  min-width: 250px
}

.inputs-set {
  margin: 50px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}

.inputs-set input {
  width: 100%
}

button {
  padding: 8px;
  background: linear-gradient(#e66465, #9198e5);
  border-width: 0;
  border-radius: 5px;
  cursor: pointer;
}